* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'IM Fell English', serif;
  overflow-x: auto; /* horizontaal scrollen indien nodig */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid black;
}

.home-button {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.top-button {
  text-decoration: none;
  color: black;
  margin-right: 15px;
}

.language-select {
  border: none;
  background: none;
  font-size: 1rem;
}

main {
  display: flex;
  height: calc(100vh - 80px); /* 100% hoogte min header */
  margin-top: 80px; /* ruimte voor de header */
}

.vak {
  flex: 1;
  min-width: 20%; /* 5 vakken naast elkaar */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
}

main {
  overflow-x: scroll;
}
